<h4 class="title">Our Events:</h4>
<ul class="events__list">
  <li class="events__list-item">
    <div class="events__block">
      <p class="events__text events__text_large">Live Music:</p>
      <p class="events__text events__text_small">Виктория Дивеева</p>
    </div>
    <div class="events__block">
      <p class="events__text events__text_large">26.03</p>
    </div>
  </li>
  <li class="events__list-item">
    <div class="events__block">
      <p class="events__text events__text_large">Live Music:</p>
      <p class="events__text events__text_small">Екатерина Как-то там</p>
    </div>
    <div class="events__block">
      <p class="events__text events__text_large">27.03</p>
    </div>
  </li>
  <li class="events__list-item">
    <div class="events__block">
      <p class="events__text events__text_large">Винная Дегустация:</p>
      <p class="events__text events__text_small">Вина Франции</p>
    </div>
    <div class="events__block">
      <p class="events__text events__text_large">31.03</p>
    </div>
  </li>
</ul>
