<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Yin-&-Yang.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Pancakes.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Huevos-Rancheros.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
<div class="menu__item">
  <div class="menu__box menu__box_img">
    <img
      class="menu__img"
      src="../../../assets/pictures/Smashed-Avo.png"
      alt="picture"
    />
  </div>
  <div class="menu__box menu__box_text">
    <p class="menu__title">Smashed Avo</p>
    <p class="menu__title">10$</p>
  </div>
</div>
