<h4 class="title">Our Location:</h4>
<div class="location__discription">
  <div class="location__box">
    <p class="location__text">
      <span class="location__text location__text_bold">Адрес:</span> ул.Кирова 5
    </p>
    <p class="location__text">
      <span class="location__text location__text_bold">Телефон:</span>
      <a class="loaction__link" href="tel:+375-44-704-43-44"
        >+375-44-704-43-44</a
      >
    </p>
  </div>
  <div class="location__box location__box_social">
    <p class="location__text">
      <span class="loation__img-box">
        <img
          src="../../../assets/instagram.png"
          alt="instagram"
          class="location__img"
        />
      </span>
      <a
        class="location__link"
        href="https://www.instagram.com/esperanto_wine_bar"
        >esperanto_wine_bar</a
      >
    </p>
    <p class="location__text">
      <span class="loation__img-box">
        <img
          src="../../../assets/telegram.png"
          alt="telegram"
          class="location__img"
        />
      </span>
      <a class="location__link" href="https://t.me/esperanto_wine_bar"
        >esperanto_wine_bar</a
      >
    </p>
  </div>
  <div class="location__box location__box_large">
    <iframe
      class="location__map"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A8fcb158ce2caeb8807557c46610430b23eb179fbcb61ed00a0885dab551b1c96&amp;source=constructor"
      width="500"
      height="400"
      frameborder="0"
    ></iframe>
  </div>
</div>
