<h4 class="title">Our Location:</h4>
<div class="location__discription">
  <div class="location__box">
    <p class="location__text">
      <span class="location__text location__text_bold">Адрес:</span> ул.Кирова 5
    </p>
    <p class="location__text">
      <span class="location__text location__text_bold">Телефон:</span>
      +375-44-704-43-44
    </p>
  </div>
  <div class="location__box location__box_social">
    <p class="location__text">
      <span class="loation__img-box">
        <img
          src="../../../assets/instagram.png"
          alt="instagram"
          class="location__img"
        />
      </span>
      esperanto_wine_bar
    </p>
    <p class="location__text">
      <span class="loation__img-box">
        <img
          src="../../../assets/telegram.png"
          alt="telegram"
          class="location__img"
        />
      </span>
      esperanto_wine_bar
    </p>
  </div>
  <div class="location__box location__box_large">
    <iframe
      class="location__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1181.5995213115134!2d23.83233406698524!3d53.67907789492754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd754c810dce1%3A0x20b2d5741bc62c87!2sEsperanto%20Wine%20Bar!5e0!3m2!1sru!2sby!4v1648324869386!5m2!1sru!2sby"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
