@import "variables.less";

:host {
  border: 1px solid;
}
.calendar-day {
  &__inner {
    height: 50px;
    background-color: @color-white;
    padding: 5px;
    box-sizing: border-box;
    text-align: end;

    &_disabled {
      background-color: @color-gray;
      filter: opacity(0.3);
      pointer-events: none;
    }
    &_selected {
      background-color: @color-gray;
    }
    &:hover {
      background-color: @color-gray;
      cursor: pointer;
    }
  }
  &__date {
    &_active {
      background-color: @color-red;
      padding: 3px;
      border-radius: 50%;
    }
  }
}
