<ul class="side-bar__list">
  <li class="side-bar__list-item">
    <img
      class="side-bar__logo is_hidden_mobile"
      src="../../../assets/pictures/side-bar-logo.png"
      alt="logo"
    />
  </li>
  <li class="side-bar__list-item">
    <a routerLink="/home" class="side-bar__link"><i class="fas fa-home"></i></a>
  </li>
  <li class="side-bar__list-item" routerLinkActive="side-bar__list-item_active">
    <a routerLink="/menu/food" class="side-bar__link"
      ><i class="fas fa-utensils"></i
    ></a>
  </li>
  <li class="side-bar__list-item" routerLinkActive="side-bar__list-item_active">
    <a routerLink="/menu/events" class="side-bar__link"
      ><i class="fas fa-glass-cheers"></i
    ></a>
  </li>
  <li class="side-bar__list-item" routerLinkActive="side-bar__list-item_active">
    <a routerLink="/menu/about" class="side-bar__link"
      ><i class="fas fa-map-marked-alt"></i
    ></a>
  </li>
  <!-- <li class="side-bar__list-item">
    <a href="/enter" class="side-bar__link"><i class="fas fa-power-off"></i></a>
  </li> -->
</ul>
